
//section class for card
sscript
<section class="card">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{content.length}}</p>
        <p class="card-text">{{user.username}}</p>
    
    </div>

    <script src="/js/dashboard.js"></script> 