// view comments

<div class="view">
    {{#each this}}
    <section class="meta">
        <div class="view">
            <h5 class="view">{{title}}</h5>
            <p class="view">{{content.length}}</p>
            <p class="view"><small class="text-muted">{{user.username}}</small></p>
        </div>
    </section>
    {{/each}}
</div>