{{#if posts.length}}

<h1>Dashboard</h1>



<section id="currentPost">
    <h2>Posts</h2>
    {{#each posts as |post|}}
     <input type="hidden" name="post-id" value="{{post.id}}"/>
        <div class="card">
            <div class="card-header">
                <h4><a class="link" href="/dashboard/edit/{{id}}">{{title}}</a></h4>
            </div>  
            <button class="btn btn-danger" id="deleteBtn">Delete Post</button>
            </div>
            <hr>
    {{/each}}
   

</section>

    {{/else}}
    <section>
    <p>No posts yet</p>
    </section>
    {{/if}}
<button type="submit" class="btn"><a href="/dashboard/new"></a>New Post</button>
<script src="/js/delete.js"></script>