{{#if logged_in}}
{{#each posts as |post|}}
<div class="text-center">
    <h1>{{post.title}}</h1>
    <p>{{post.body}}</p>
    <p>By {{view user.content}}</p>
    <p>Created on {{post.date}}</p>
    <hr>
    <section>
    <p>No posts yet</p>
</section>
<hr>
</div>
    {{##if logged_in}}
    <script src="/js/view.js"></script>

{{/if}}
